[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
requests = "*"
aiohttp = "*"
pytest-asyncio = "*"

[dev-packages]
pylint = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_version = "3.8"
